/* Navbar styles */
.navbar {
  background-color: #fdfefe ;
  color: #fff;
  padding: 10px;
}

.navbar h1 {
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 20px auto;
  padding: 0 20px;
}

/* Offcanvas styles (if needed) */
.offcanvas {
  /* Your offcanvas styles here */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }

  .btn {
    padding: 8px 16px;
  }
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
