<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div class="parent-container">
<div class="offcanvas offcanvas-center" aria-labelledby="audioTextFileTitle" data-bs-scroll="true" id="audioTextFile"
     tabindex="-1">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div class="col">
        <nav>
          <div [class]="navTabs" class="nav nav-tabs" id="audioTextFileNavbar" role="tablist">
            <button (click)="reset()" [class]="navbarButton" aria-controls="audioTab" aria-selected="true"
                    class="nav-link active" data-bs-target="#audioNavbarPanel" data-bs-toggle="tab"
                    id="audioNavbarTab" style="color: black"
                    role="tab" type="button">
              Ajouter un fichier audio
            </button>
            <button style="color: black" (click)="reset()" [class]="navbarButton" aria-controls="recorderTab" aria-selected="false"
                    class="nav-link" data-bs-target="#recorderNavbarPanel" data-bs-toggle="tab" id="recordNavbarTab"
                    role="tab" type="button">
              Enregistrer votre voix
            </button>
          </div>
        </nav>
        <div [class]="text" class="tab-content" id="nav-tabContent">

          <div aria-labelledby="audioPanel" class="tab-pane fade show text-center active" id="audioNavbarPanel"
               role="tabpanel" tabindex="0">
            <br>
            <ngx-dropzone (change)="dropFile($event)">
              <ngx-dropzone-label>
                <i class="fa-solid fa-file-export"></i>
                <br>
                Déposer votre fichier ici
                <br>
                ou
                <br>
                Cliquer pour ouvrir le gestionnaire de fichiers
              </ngx-dropzone-label>
              <ngx-dropzone-preview (removed)="removeFile()" *ngIf="showFile" [removable]="true">
                <ngx-dropzone-label>
                  <i class="fa-solid fa-file-audio"></i>
                  <br>
                  {{ nameSound }}
                </ngx-dropzone-label>
              </ngx-dropzone-preview>
              <ngx-dropzone-preview *ngIf="showFileUpload">
                <ngx-dropzone-label class="progressBar">
                  <div class="progress">
                    <div [style]="uploadFileProgress" aria-label="Animated striped example"
                         aria-valuemax="100" aria-valuemin="0"
                         class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"></div>
                  </div>
                </ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            <br>
            <audio [src]="soundToListen" controls></audio>
            <br>
            <br>
            <div *ngIf="showErrorDropFile" class="alert alert-danger text-center" role="alert">
              <i class="fa-solid fa-triangle-exclamation"></i>
              {{ errorDropFile }}
            </div>
            <button (click)="addSong('file')" [class]="buttonAdd" [disabled]="disableAddSongButton"
                    data-bs-target="#audioTextFile"
                    data-bs-toggle="offcanvas"
                    type="button" class="btn btn-success">Valider
            </button>
          </div>

          <div aria-labelledby="recorderPanel" class="tab-pane fade text-center" id="recorderNavbarPanel"
               role="tabpanel"
               tabindex="0">
            <br>
            <div>
              <!-- Bouton enregistrement en cours -->
              <button style="background: none;" (click)="recording()" *ngIf="isRecording" [class]="buttonAdd" type="button" aria-label="Stop Recording">
                <i class="fa-solid fa-microphone fa-2xl recording-icon active"></i>
              </button>

              <!-- Bouton pour commencer l'enregistrement -->
              <button style="background: none;" (click)="recording()" *ngIf="!isRecording" [class]="buttonAdd" type="button" aria-label="Start Recording">
                <i class="fa-solid fa-microphone fa-2xl recording-icon"></i>
              </button>
              <span *ngIf="!isRecording"> Pas d'enregistrement en cours</span>
              <span *ngIf="isRecording">
              Enregistrement en cours
              <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
              </div>
            </span>
            </div>
            <br>
            <label class="form-label" for="nameRecord">Nom de mon enregistrement</label>
            <input (keyup)="getNameRecord($event)"
                   class="form-control inputRecord"
                   id="nameRecord" placeholder="Par exemple : MonEnregistrement" type="text">
            <br>
            <audio [src]="recordedSongToListen" controls></audio>
            <br>
            <br>
            <div *ngIf="showErrorRecord" class="alert alert-danger text-center" role="alert">
              <i class="fa-solid fa-triangle-exclamation"></i>
              Le nom de l'enregistrement ne peut pas être vide !
            </div>
            <button (click)="addSong('record')" [class]="buttonAdd" [disabled]="disableAddSongButton"
                    data-bs-target="#audioTextFile"
                    data-bs-toggle="offcanvas" type="button" class="btn btn-success">Valider
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
